*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
build/
src/main/java/cofh/api/energy/IEnergyConnection.java
src/main/java/cofh/api/energy/IEnergyHandler.java
src/main/java/cofh/api/energy/IEnergyProvider.java
src/main/java/cofh/api/energy/IEnergyReceiver.java
.idea/
*.iml
*.ipr
*.iws

out/
eclipse/
*.launch
*.txt
run/
bin/
libs/
*.project
*.classpath
.settings/
custom.gradle