# eclipse
bin
*.launch
.settings
*.metadata
*.classpath
*.settings/
.project
eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# vs code
.vscode/

# gradle
*.class
build
bin/
.gradle
custom.gradle

# Forge
run/
hs_err_pid*

# Modworks Generated Sources
src/main/generated/*

# System
*Thumbs.db
*.ini

# Certs
cert/*

# Tests
run_tests/

# Act
.secret
custom.gradle.template

# Misc
